/* JavaScript & jQuery - Chapter 3: Functions, Methods & Programming */
/* The book used a font called Eau Sans - the download examples use Open Sans */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-color: #fff;
    background: url("../images/travelworthy-backdrop.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: 'Open Sans', sans-serif;}

h1{
        background: #1e1b1e url("../images/travelworthy-logo.gif") no-repeat;
        width: 230px;
        height: 180px;
        float: left;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;}

h2{
    margin: 1.75em 0 0 0;
    color: #adffda;
    font-weight: normal;}

h2 + p{
    margin: 0.25em 0 0 0;}
    p + p {
        margin: 0;}
p + h2 {
  margin: 10px 0 0 0;}

  /* message under the logo */
#message{
    float: left;
    clear: left;
    background-color: #ffb87a;
    color: #1e1b1e;
    width:170px;
    padding: 18px 30px;
    text-align: center;
}

/* black bar across the right hand side of the page */
#info{
    background-color: #1e1b1e;
    color: #fff;
    width: 200px;
    padding: 0 15px;
}