html {
    height: 100%;}

body {
    background-color: #b6a996;
    background: url('../images/hobart.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100%;}

    #content {
        background-color: #fff;
        border: 3px double #31373f;
        color: #31373f;
        display: inline-block;
        padding: 30px 50px;
        margin: 20px auto 50px auto;
        max-width: 580px;
        min-height: 4em;
        overflow: auto;
        text-align: center;}
    
h1, h2 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;}
