@import url(http://fonts.googleapis.com/css?family=Wellfleet);

body{
    background-color: #523620;
    color: #fff;
    font-family: 'Wellfleet', times, serif;
    font-size: 150%;
    margin: 0px 0px 0px 0px;}

h1 {
    background-image: url('../images/bullseye-logo.png');
    background-repeat: no-repeat;
    text-indent: 100%;
}