#photo-viewer {
    position: relative;
    height: 300px;
    overflow: hidden;}

#photo-viewer. is-loading:after {
    content: url(images/load.gif);
    position: absolute;
    top: 0;
    right: 0;}

#photo-viewer img {
  posiotion: absolute;
}